* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --bg-clr: #03011a;
    --txt-clr: #ffffff;
    --second-clr: #c4c2cc;
    --nav-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    --shadow: linear-gradient(rgba(226, 226, 226, 0.75) 0%, #ffffff);
    --bg-img: url(../img/background.jpg);
    --main-clr: #e2244d;
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1.1rem;
}
#mobile {
    color: var(--main-clr);
}
body {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 10%;
    transition: 0.3s;
}
header.sticky {
    background: var(--bg-clr);
    padding: 16px 10%;
    box-shadow: var(--nav-shadow);
}
.logo {
    font-size: 24px;
    color: var(--txt-clr);
}
.logo span {
    color: var(--main-clr);
}
.navlist {
    display: flex;
}
.navlist li {
    position: relative;
}
.navlist a {
    font-size: var(--p-font);
    color: var(--txt-clr);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-clr);
    bottom: -3px;
    left: 0;
    transition: ease 0.4s;
}
.navlist a:hover::after {
    width: 100%;
}
#menu-icon {
    font-size: 35px;
    color: var(--txt-clr);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
#theme-icon {
    width: 30px;
    cursor: pointer;
}

section {
    padding: 100px 10%;
    transition: 0.3s;
}
.home {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-text h1 {
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h3 {
    color: var(--main-clr);
    font-size: 24px;
    font-weight: 500;
}
.home-text h5 {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 500px;
}
.home-text h5 span {
    color: var(--main-clr);
}
.home-text p {
    font-size: var(--p-font);
    color: var(--second-clr);
    line-height: 28px;
    margin-bottom: 20px;
}
.social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--txt-clr);
    font-size: 17px;
    color: var(--bg-clr);
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover {
    transform: scale(1.1);
    background: var(--main-clr);
    transition: 0.5s;
}
.btn {
    display: inline-block;
    color: var(--bg-clr);
    background: var(--main-clr);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease 0.4s;
}
.btn:hover {
    transform: scale(1.1);
}
.home-img {
    display: flex;
    margin: auto;
}
.home-img img {
    max-width: 100%;
    width: 350px;
    height: auto;
    border-radius: 100%;
    border: 3px solid var(--main-clr);
}
.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.sub-box {
    padding: 45px;
    transition: ease 0.5s;
    cursor: pointer;
}
.sub-img img {
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.sub-box h3,
.tech h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500px;
}
.sub-box p {
    font-size: var(--p-font);
    color: var(--second-clr);
    line-height: 29px;
}
.sub-box:hover,
.tech:hover {
    background: var(--bg-clr);
    box-shadow: var(--nav-shadow);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg)
        scale3d(1.05, 1.05, 1.05);
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
}
.about-text {
    display: grid;
    gap: 10px;
}
.about-text h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    /* margin: 8px 0px 25px; */
    line-height: 1.1;
}
.about-text h3 {
    color: var(--main-clr);
    font-size: 20px;
    font-weight: 500;
}
.about-text p {
    font-size: var(--p-font);
    color: var(--second-clr);
    line-height: 28px;
    margin-bottom: 45px;
}

.heading {
    text-align: center;
}
.heading h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3 {
    color: var(--main-clr);
    font-size: 20px;
    font-weight: 500;
}
.heading p {
    font-size: var(--p-font);
    color: var(--second-clr);
    line-height: 28px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: 5rem;
    text-align: center;
}
.col {
    border-radius: 12px;
    border: 2px solid var(--main-clr);
    padding: 10px;
}
.col img {
    width: 100%;
    height: 280px;
    object-fit: fill;
    border-radius: 12px;
}
.layer {
    padding: 10px;
    display: grid;
    gap: 10px;
}
.layer h3 {
    font-size: 22px;
}
.layer p {
    font-size: var(--p-font);
    color: var(--second-clr);
}
.layer p:nth-child(3) {
    color: var(--txt-clr);
}
.layer p:nth-child(3) span {
    color: var(--main-clr);
}
.layer div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.layer div a {
    display: inline-block;
    background: transparent;
    padding: 4px 22px;
    border-radius: 20px;
    border: 2px solid var(--main-clr);
    font-size: 20px;
    font-weight: 500;
    color: var(--txt-clr);
    transition: ease 0.5s;
}
.layer div a:hover {
    transform: scale(1.1);
    background-color: var(--main-clr);
    border: 2px solid var(--main-clr);
}

.skill-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.tech {
    padding: 20px 20px;
    transition: ease 0.5s;
    cursor: pointer;
}
.tech img {
    width: 120px;
    height: 120px;
}

.cta-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}
.wrap {
    background-color: var(--bg-clr);
    box-shadow: var(--nav-shadow);
    border-radius: 12px;
    padding: 50px;
    transition: ease 0.4s;
    cursor: pointer;
}
.one {
    background: #81a78f;
}
.two {
    background: #99747f;
}
.three {
    background: #90966d;
}
.wrap h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.wrap p {
    font-size: var(--p-font);
}
.ends {
    text-align: center;
    padding: 40px;
}
.ends p {
    font-size: var(--p-font);
    letter-spacing: 1px;
}
.git-container {
    margin-top: 50px;
}
.calendar {
    cursor: pointer;
}
.git {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
}
.git img {
    width: 40%;
    margin: auto;
    cursor: pointer;
}

.form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}
input,
textarea {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: var(--p-font);
    background: transparent;
    color: var(--txt-clr);
    border: 2px solid white;
    outline: var(--main-clr);
}
input::placeholder,
textarea::placeholder {
    font-size: var(--p-font);
}
input:focus,
textarea:focus {
    border: 2px solid var(--main-clr);
}

#tbtn {
    font-size: 20px;
    font-weight: 500;
    transition: ease 0.5s;
    width: 200px;
    margin: auto;
}
#tbtn:hover {
    background-color: var(--main-clr);
    border: 2px solid var(--main-clr);
    color: var(--txt-clr);
}

@media (max-width: 1300px) {
    header {
        padding: 16px 5%;
        transform: 0.3s;
    }
    header.sticky {
        padding: 10px 5%;
        transform: 0.3s;
    }
    section {
        padding: 70px 5%;
        transition: 0.3s;
    }
}

@media (max-width: 1025px) {
    #menu-icon {
        display: block;
    }
    .home {
        min-height: 80vh;
    }
    .navlist {
        height: 50px;
        overflow: auto;
    }
    .navlist {
        position: absolute;
        height: 85vh;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: space-between;
        background: var(--main-clr);
        text-align: right;
        transition: all 0.4s;
    }
    .navlist a {
        display: block;
        padding: 1rem;
        margin: 0.8rem;
        border-right: 2px solid var(--bg-clr);
        color: var(--bg-clr);
    }
    .navlist a:hover {
        background: var(--bg-clr);
        color: var(--main-clr);
    }
    .navlist a::after {
        display: none;
    }
    .navlist.active {
        top: 100%;
    }
}

@media (max-width: 900px) {
    .portfolio-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .col img {
        height: 100%;
    }
    .skill-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .tech img {
        width: 80px;
        height: 80px;
    }
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
    .cta-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .git img {
        width: 50%;
        margin: auto;
    }
}
@media (max-width: 767px) {
    :root {
        --big-font: 3.2rem;
        --h2-font: 2.1rem;
        --p-font: 1.1rem;
    }
    .git img {
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 600px) {
    .home {
        grid-template-columns: repeat(1, 1fr);
    }
    .home-img {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .home-img img {
        width: 55%;
    }
    .col {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .col img {
        height: 100%;
    }
    .about-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-img {
        display: flex;
        justify-content: center;
    }
    .about-img img {
        width: 95%;
    }
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .tech img {
        width: 100px;
        height: 100px;
    }
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
    .cta-box {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    :root {
        --big-font: 2.4rem;
        --h2-font: 1.7rem;
        --p-font: 1rem;
    }
    .tech img {
        width: 40px;
        height: 40px;
    }
    .tech h3 {
        font-size: 16px;
    }
    .git img {
        width: 100%;
        margin: auto;
    }
    form {
        width: 320px;
    }
}
